.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    height: 100vh;
    padding: 16px;
}

.Header {
    text-align: center;
}

.Logo {
    width: 64px;
    height: 64px;
}

.Title {
    margin: 0;
    padding-bottom: 8px;
}

.ChatContainer {
    flex-grow: 1;
    width: 100%;
    background: light-dark(#ffffff, #212121);
    border-radius: 16px;
    overflow-y: auto;
}

.AiSelection {
    cursor: pointer;
    border-radius: 10px;
    border: solid rgb(62, 195, 240);
    margin-right: 0.5rem;
}

.Settings {
    font-size: small;
    display: flex;
    align-items: center;
}

.Settings input[type="radio"] {
    cursor: pointer;
}